*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-margin: -15rem;
}

html {
  font-size: 10px;
}
@media (min-width: 1200px) {
  html {
    font-size: 10px;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 9px;
  }
}
@media (max-width: 900px) {
  html {
    font-size: 7px;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 5px;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
}
@media (max-width: 900px) {
  body {
    padding: 0;
  }
}

::selection {
  background-color: greenyellow;
  color: aliceblue;
}

@keyframes move-in-left {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(3rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
@keyframes move-in-right {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-3rem);
  }
  100% {
    opacity: 2;
    transform: translateX(0rem);
  }
}
@keyframes frombottom {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 2;
    transform: translateY(-0.2rem);
  }
}
.heading-secondary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #53c23497, #0617009e);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  letter-spacing: 2px;
  transition: all 0.2s;
}
@media (max-width: 900px) {
  .heading-secondary {
    font-size: 2.8rem;
  }
}
.heading-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 0.2rem 20px rgba(6, 23, 0, 0.2);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.section-about {
  padding: 25rem 0;
  margin-top: -14.25%;
}
@media (max-width: 900px) {
  .section-about {
    padding: 20rem 0;
  }
}

.section-features {
  margin: 20rem 0;
  padding: 20rem;
  background-image: linear-gradient(to right bottom, #53c23497, #0617009e), url(./img/nat-4.jpg);
  background-size: cover;
  background-position: center;
  transform: skewY(-4deg);
}
@media (max-width: 900px) {
  .section-features {
    padding: 10rem;
  }
}

.section-features > * {
  transform: skewY(4deg);
}

.section-tours {
  padding: 25rem 0 15rem 0;
  margin-top: -17.25%;
  background-color: #f7f7f7;
}
@media (min-width: 1200px) {
  .section-tours {
    margin-top: -15%;
  }
}
@media (max-width: 1024px) {
  .section-tours {
    margin-top: -22%;
  }
}
@media (max-width: 900px) {
  .section-tours {
    margin-top: -20%;
  }
}
@media (max-width: 600px) {
  .section-tours {
    margin-top: -35%;
  }
}
@media (max-width: 900px) {
  .section-tours {
    padding: 20rem 0 10rem 0;
  }
}

.section-stories {
  padding: 15rem 0;
  position: relative;
  overflow: hidden;
}
@media (max-width: 900px) {
  .section-stories {
    padding: 10rem 0;
  }
}

.section-booking {
  margin-top: -7rem;
  padding: 20rem;
  position: relative;
  background-image: linear-gradient(to left top, green, #0b2c0b);
  height: 110vh;
}
@media (max-width: 900px) {
  .section-booking {
    padding: 15rem;
  }
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, #53c23497, #0617009e), url(./img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(100% 0, 100% 84%, 0 100%, 0 0);
  position: relative;
}
@media (max-width: 600px) {
  .header {
    clip-path: none;
  }
}
@media (max-width: 600px) {
  .header {
    background-image: linear-gradient(to left top, rgba(255, 166, 0, 0.553), rgba(255, 0, 0, 0.51)), url(./img/hero-small.jpg);
  }
}
.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  text-align: center;
}
.header__logo {
  height: 3.5rem;
}

.heading-primary {
  color: white;
  text-transform: uppercase;
  backface-visibility: hidden;
}
.heading-primary--main {
  font-size: 5.2rem;
  letter-spacing: 3.5rem;
  display: block;
  font-weight: 900;
  animation: move-in-left 1s ease;
}
.heading-primary--sub {
  font-size: 3.3rem;
  letter-spacing: 0.8rem;
  display: block;
  font-weight: 700;
  animation: move-in-right 1s ease;
}

.row {
  max-width: 114rem;
  background-color: none;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
@media (max-width: 1024px) {
  .row {
    max-width: 60rem;
  }
}
.row .col-1-of-2 {
  width: calc((100% - 5rem) /2);
  float: left;
}
.row .col-1-of-2:not(:last-child) {
  margin-right: 5rem;
}
@media (max-width: 900px) {
  .row .col-1-of-2 {
    width: 100%;
  }
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 5rem) /3);
  float: left;
}
.row .col-1-of-3:not(:last-child) {
  margin-right: 5rem;
}
@media (max-width: 1024px) {
  .row .col-1-of-3 {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .row .col-1-of-3 {
    margin-bottom: 15px;
  }
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 5rem) /4);
  background-color: rgba(247, 247, 247, 0.8);
  float: left;
  border-radius: 5px;
  transition: all 0.2s;
}
.row .col-1-of-4:not(:last-child) {
  margin-right: 5rem;
}
@media (max-width: 1024px) {
  .row .col-1-of-4 {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .row .col-1-of-4 {
    margin-right: 0;
  }
}
@media (max-width: 1024px) {
  .row .col-1-of-4 {
    margin-bottom: 15px;
  }
}
.row .col-2-of-3 {
  width: calc(2*((100% - 2 * 5rem) /3) + 5rem);
  background-color: orangered;
  float: left;
}
.row .col-2-of-3:not(:last-child) {
  margin-right: 5rem;
}
.row .col-2-of-4 {
  width: calc(2* ((100% - 5rem) /4));
  background-color: orangered;
  float: left;
}
.row .col-2-of-4:not(:last-child) {
  margin-right: 5rem;
}
.row .col-3-of-4 {
  width: calc(3*((100% - 3* 5rem)/4) + (2*5rem));
  background-color: orangered;
  float: left;
}
.row .col-3-of-4:not(:last-child) {
  margin-right: 5rem;
}

.navigation__checkbox {
  display: none;
}
.navigation__button {
  height: 7rem;
  width: 7rem;
  background-color: whitesmoke;
  border-radius: 50%;
  position: fixed;
  top: 6.3rem;
  right: 6.2rem;
  z-index: 102;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  cursor: pointer;
  text-align: center;
}
@media (max-width: 900px) {
  .navigation__button {
    top: 4rem;
    right: 4rem;
  }
}
.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  z-index: 100;
  background-image: radial-gradient(green, #0a220a);
  transition: all 0.4s cubic-bezier(0.2, 0.9, 0.11, -0.3);
}
@media (max-width: 900px) {
  .navigation__background {
    top: 4.2rem;
    right: 4.3rem;
  }
}
.navigation__nav {
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 101;
  width: 0;
  opacity: 0;
  transition: all 0.2s cubic-bezier(0.2, 0.9, 0.11, -0.3);
  text-align: center;
}
.navigation__list {
  text-align: center;
  list-style: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.navigation__link {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 2px;
  padding: 0.3rem 1rem;
  font-weight: 400;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 220%;
  margin: 0.5rem 1rem;
  transition: all 0.5s ease;
  display: inline-block;
}
.navigation__link span {
  margin-right: 1.5rem;
  display: inline-block;
}
.navigation__link:hover {
  background-position: 100%;
  color: green;
  transform: translateX(1rem);
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(60);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100vw;
}
.navigation__checkbox:checked ~ .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked ~ .navigation__button .navigation__icon::after {
  transform: rotate(135deg);
  top: 0;
}
.navigation__checkbox:checked ~ .navigation__button .navigation__icon::before {
  transform: rotate(-135deg);
  top: 0;
}
.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: black;
  display: inline-block;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -1rem;
}
.navigation__icon::after {
  top: 1rem;
}
.navigation__button:hover .navigation__icon::before {
  top: -1.2rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 1.2rem;
}

.composition {
  position: relative;
}
.composition__photo {
  width: 55%;
  box-shadow: 0 20px 4rem rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  position: absolute;
  transition: all 0.2s;
  z-index: 10;
  outline-offset: 2rem;
}
@media (max-width: 1024px) {
  .composition__photo {
    outline-offset: 1rem;
  }
}
@media (max-width: 900px) {
  .composition__photo {
    width: 30%;
  }
}
.composition__photo--p1 {
  top: -2px;
  left: 0;
}
@media (max-width: 1024px) {
  .composition__photo--p1 {
    top: 7px;
    left: 5rem;
  }
}
@media (max-width: 900px) {
  .composition__photo--p1 {
    top: 15px;
    left: -8rem;
  }
}
@media (max-width: 600px) {
  .composition__photo--p1 {
    top: 15px;
    left: -2px;
  }
}
.composition__photo--p2 {
  top: 4rem;
  left: 20rem;
}
@media (max-width: 1024px) {
  .composition__photo--p2 {
    left: 18rem;
  }
}
@media (max-width: 900px) {
  .composition__photo--p2 {
    top: 15px;
    left: 18rem;
  }
}
@media (max-width: 600px) {
  .composition__photo--p2 {
    top: 15px;
    left: 20rem;
  }
}
.composition__photo--p3 {
  left: 8rem;
  top: 12rem;
}
@media (max-width: 1024px) {
  .composition__photo--p3 {
    top: 9rem;
    left: 12rem;
  }
}
@media (max-width: 900px) {
  .composition__photo--p3 {
    top: 15px;
    left: 43rem;
  }
}
@media (max-width: 600px) {
  .composition__photo--p3 {
    top: 15px;
    left: 40rem;
  }
}
.composition__photo:hover {
  transform: scale(1.05) translateY(-5px);
  box-shadow: 0 40px 4rem rgba(0, 0, 0, 0.5);
  z-index: 11;
  outline: 1.5rem solid green;
}
@media (max-width: 1024px) {
  .composition__photo:hover {
    outline: 1rem solid green;
  }
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}

.feature-box {
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 5 10 rgba(6, 23, 0, 0.15);
  transition: all 0.2s;
}
@media (max-width: 900px) {
  .feature-box {
    padding: 2rem;
  }
}
.feature-box__icon {
  font-size: 6rem;
  background-image: linear-gradient(to right, #53c23497, #0617009e);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  padding: 2rem;
}
.feature-box__text {
  padding: 1rem;
}

.col-1-of-4:hover {
  transform: translateY(-5px) scale(1.07);
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;
  margin-top: 5rem;
}
.card__side {
  color: white;
  font-size: 2rem;
  height: 52rem;
  transition: all 0.8s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 15px 20px #777;
}
.card__side--back {
  transform: rotateY(-180deg);
}
.card__side--back-1 {
  background-image: linear-gradient(to left bottom, orange, yellow);
}
.card__side--back-2 {
  background-image: linear-gradient(to left bottom, green, #064006);
}
.card__side--back-3 {
  background-image: linear-gradient(to left bottom, blue, #b482ee);
}
.card__side--front {
  background-color: white;
}
.card:hover .card__side--front {
  transform: rotateY(180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}
.card__picture {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 23rem;
  -webkit-clip-path: polygon(100% 0, 100% 84%, 0 100%, 0 0);
  clip-path: polygon(100% 0, 100% 84%, 0 100%, 0 0);
  position: relative;
}
.card__picture--1 {
  background-image: linear-gradient(to right bottom, rgba(255, 166, 0, 0.648), rgba(255, 255, 0, 0.621)), url(./img/nat-5.jpg);
}
.card__picture--2 {
  background-image: linear-gradient(to right bottom, #53c23497, #0617009e), url(./img/nat-6.jpg);
}
.card__picture--3 {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 255, 0.675), rgba(51, 0, 255, 0.608)), url(./img/nat-7.jpg);
}
.card__heading {
  font-size: 2.8rem;
  text-transform: uppercase;
  color: white;
  font-weight: 300;
  top: 12rem;
  right: 3rem;
  position: absolute;
  text-align: right;
  width: 55%;
}
.card__heading-text {
  padding: 1rem 1.5rem;
}
.card__heading-text--1 {
  background-image: linear-gradient(to right bottom, rgba(255, 166, 0, 0.785), rgba(255, 255, 0, 0.812));
}
.card__heading-text--2 {
  background-image: linear-gradient(to right bottom, #53c23497, #0617009e);
}
.card__heading-text--3 {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 255, 0.675), rgba(51, 0, 255, 0.608));
}
.card__details {
  padding: 1rem;
  margin: 0 auto;
}
.card__details--list {
  list-style: none;
  width: 80%;
}
.card__details--list-element {
  color: #777;
  text-align: center;
  font-size: 1.6rem;
  padding: 1rem;
}
.card__details--list-element:not(:last-child) {
  border-bottom: 1px solid gray;
}
.card__price-box {
  text-align: center;
}
.card__price-box--only {
  font-size: 3rem;
  padding-top: 12rem;
}
.card__price-box--price {
  font-size: 6rem;
  font-weight: 200;
}
@media (max-width: 900px) {
  .card {
    height: auto;
  }
  .card__side {
    color: white;
    font-size: 2rem;
    height: auto;
    position: relative;
    border-radius: 5px;
  }
  .card__side--back {
    transform: rotateY(0deg);
  }
  .card:hover .card__side--front {
    transform: rotateY(0deg);
  }
  .card__heading {
    font-size: 2.8rem;
    text-transform: uppercase;
    color: white;
    font-weight: 300;
    top: 12rem;
    right: 3rem;
    position: absolute;
    text-align: right;
    width: 55%;
  }
  .card__heading-text {
    padding: 1rem 1.5rem;
  }
  .card__heading-text--1 {
    background-image: linear-gradient(to right bottom, rgba(255, 166, 0, 0.785), rgba(255, 255, 0, 0.812));
  }
  .card__heading-text--2 {
    background-image: linear-gradient(to right bottom, #53c23497, #0617009e);
  }
  .card__heading-text--3 {
    background-image: linear-gradient(to right bottom, rgba(0, 0, 255, 0.675), rgba(51, 0, 255, 0.608));
  }
  .card__details {
    padding: 1rem;
    margin: 0 auto;
  }
  .card__details--list {
    list-style: none;
    width: 80%;
  }
  .card__details--list-element {
    color: #777;
    text-align: center;
    font-size: 1.6rem;
    padding: 1rem;
  }
  .card__details--list-element:not(:last-child) {
    border-bottom: 1px solid gray;
  }
  .card__price-box {
    text-align: center;
  }
  .card__price-box--only {
    font-size: 3rem;
    padding-top: 16rem;
  }
  .card__price-box--price {
    font-size: 4rem;
    font-weight: 200;
    padding-bottom: 20rem;
  }
}

.story {
  width: 90%;
  margin: 0 auto;
  box-shadow: 0 10 30 black;
  background-color: rgba(255, 255, 255, 0.763);
  border-radius: 3px;
  padding: 6rem;
  margin: 10rem;
  transform: skewX(-12deg);
}
@media (max-width: 900px) {
  .story {
    transform: none;
    margin-left: 1rem;
  }
}
.story__shape {
  width: 15rem;
  height: 15rem;
  float: left;
  -webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  transform: translateX(-3rem) skewX(12deg);
  position: relative;
}
@media (max-width: 900px) {
  .story__shape {
    transform: skewX(0deg) translateX(-3rem);
  }
}
.story__img {
  height: 100%;
  background-position: center;
  transform: translateX(-4rem) scale(1.4);
  transition: all 0.6s;
}
.story__text {
  transform: skewX(12deg);
}
@media (max-width: 900px) {
  .story__text {
    transform: skewX(0deg);
  }
}
.story__figcaption {
  color: white;
  font-size: 1.6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 600;
  transform: translate(-50%, 130%);
  text-transform: uppercase;
  text-align: center;
  opacity: 0;
  transition: all 0.6s;
  backface-visibility: hidden;
}
.story:hover .story__figcaption {
  transform: translate(-50%, -50%);
  opacity: 1;
}
.story:hover .story__img {
  transform: translateX(-4rem) scale(1);
  filter: blur(3px) brightness(70%);
}

.stories__btn-text:link, .stories__btn-text:visited {
  color: #53c23497;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #53c23497;
  padding: 5px;
  font-size: 1.6rem;
  font-weight: 600;
  transition: all 0.4s;
  position: relative;
  text-align: center;
  margin: auto 0;
}
.stories__btn-text:hover {
  background-color: #53c23497;
  color: white;
  cursor: pointer;
  box-shadow: 0 1rem 2rem #777;
  transform: translateY(-2px);
}
.stories__btn-text:active {
  box-shadow: 0 1rem 2rem rgba(119, 119, 119, 0.3);
  transform: translateY(0);
}

.bg-video {
  overflow: hidden;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15;
}
.bg-video__content {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  border-radius: 10rem;
  display: inline-block;
  margin-top: 6rem;
  transition: all 0.3s;
  position: relative;
  animation: frombottom 3s ease;
  animation-fill-mode: backwards;
  font-size: 1.6rem;
}
.btn:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 1rem 5rem #000;
}
.btn:active {
  transform: translateY(0.1rem);
  box-shadow: 0 0.5rem 1rem #000;
}
.btn--white {
  color: #777;
  background-color: white;
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn--white::after {
  background-color: white;
}
.btn:hover::after {
  transform: scaleY(1.5) scaleX(1.2);
  opacity: 0;
}

.btn-text:link, .btn-text:visited {
  color: #53c23497;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #53c23497;
  padding: 5px;
  font-size: 1.6rem;
  font-weight: 600;
  transition: all 0.4s;
}
.btn-text:hover {
  background-color: #53c23497;
  color: white;
  cursor: pointer;
  box-shadow: 0 1rem 2rem #777;
  transform: translateY(-2px);
}
.btn-text:active {
  box-shadow: 0 1rem 2rem rgba(119, 119, 119, 0.3);
  transform: translateY(0);
}

.btn-tours:link, .btn-tours:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  border-radius: 10rem;
  display: inline-block;
  margin-top: 10rem;
  transition: all 0.3s;
  position: absolute;
  font-size: 1.6rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  text-align: center;
}
.btn-tours:hover {
  box-shadow: 0 1rem 5rem #000;
}
.btn-tours:active {
  box-shadow: 0 0.5rem 1rem #000;
}
.btn-tours--white {
  color: #777;
  background-color: white;
}
.btn-tours::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn-tours--white::after {
  background-color: white;
}
.btn-tours:hover::after {
  transform: scaleY(1.5) scaleX(1.2);
  opacity: 0;
}

.btn-discover:link, .btn-discover:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 3.5rem;
  border-radius: 10rem;
  display: inline-block;
  margin-top: 5rem;
  margin-left: -5rem;
  transition: all 0.3s;
  position: relative;
  font-size: 1.6rem;
}
.btn-discover:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 1rem 5rem #000;
}
.btn-discover:active {
  transform: translateY(0.1rem);
  box-shadow: 0 0.5rem 1rem #000;
}
.btn-discover--green {
  color: white;
  background-color: green;
}
.btn-discover--green::after {
  background-color: green;
}
.btn-discover::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn-discover:hover::after {
  transform: scaleY(1.5) scaleX(1.2);
  opacity: 0;
}

.btn-popup:link, .btn-popup:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 3.5rem;
  border-radius: 10rem;
  display: inline-block;
  text-align: center;
  transition: all 0.3s;
  position: absolute;
  top: 42rem;
  left: 45rem;
  font-size: 1.6rem;
}
.btn-popup:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 1rem 5rem #000;
}
.btn-popup:active {
  transform: translateY(0.1rem);
  box-shadow: 0 0.5rem 1rem #000;
}
.btn-popup--green {
  color: white;
  background-color: green;
}
.btn-popup--green::after {
  background-color: green;
}
.btn-popup::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn-popup:hover::after {
  transform: scaleY(1.5) scaleX(1.2);
  opacity: 0;
}

.booking {
  width: 80%;
  box-shadow: 0 15 50 black;
  background-image: url(./img/nat-10.jpg);
  border-radius: 3px;
  padding: 6rem;
  position: absolute;
  height: 70vh;
  background-size: cover;
  background-position: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.booking__shadow {
  top: 0;
  left: 0;
  position: absolute;
  background-color: white;
  height: 100%;
  width: 100%;
  opacity: 0.9;
  clip-path: polygon(0 0, 55% 0, 45% 100%, 0 100%, 0% 38%);
  z-index: 0;
}
@media (max-width: 1024px) {
  .booking__shadow {
    clip-path: none;
  }
}
.booking__form {
  width: 50%;
  padding: 6rem;
  z-index: 1;
  position: relative;
  display: inline-block;
}
@media (max-width: 1024px) {
  .booking__form {
    width: 100%;
    padding: 0rem;
  }
}

.heading-secondary {
  position: relative;
  z-index: 1;
}
@media (max-width: 1024px) {
  .heading-secondary {
    padding-bottom: 4rem;
    margin-top: -2rem;
  }
}

.form {
  margin-top: -10rem;
  margin-left: -6rem;
}
.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
@media (max-width: 600px) {
  .form {
    margin-left: 3rem;
  }
}
.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  padding: 2rem 2rem;
  border-radius: 3px;
  border: none;
  width: 80%;
  display: block;
  border-bottom: 4px solid transparent;
  transition: 0.4s;
}
@media (max-width: 900px) {
  .form__input {
    left: 40%;
  }
}
.form__input:focus:invalid {
  border-bottom: 4px solid red;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 0.5rem 1.5rem #53c23497;
  border-bottom: 4px solid #53c23497;
}
.form__input::-webkit-input-placeholder {
  color: #53c23497;
  font-weight: 600;
}
.form__label {
  font-size: 1.4rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.5s;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.form__radio-group {
  display: inline-block;
  width: 49%;
}
@media (max-width: 1024px) {
  .form__radio-group {
    display: block;
    padding-bottom: 4rem;
    width: 80%;
  }
}
.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4rem;
}
.form__radio-btn {
  height: 3rem;
  width: 3rem;
  border: 5px solid green;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -0.4rem;
}
.form__radio-btn::after {
  content: "";
  height: 1.4rem;
  width: 1.4rem;
  border: none;
  background-color: green;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 1s;
  opacity: 0;
}
.form__radio-input:checked ~ .form__radio-label .form__radio-btn::after {
  opacity: 1;
}
.form__radio-input {
  visibility: hidden;
}

.footer {
  padding: 10rem 0;
  background-color: #313030;
  position: relative;
  margin-top: -25rem;
  padding-bottom: 10rem;
}
@media (max-width: 900px) {
  .footer {
    padding: 8rem 0;
  }
}
@media (max-width: 600px) {
  .footer {
    padding: 0 3rem;
  }
}
.footer__logo-box {
  text-align: center;
  margin-bottom: 8rem;
}
@media (max-width: 900px) {
  .footer__logo-box {
    margin-bottom: 4rem;
    padding-top: 2rem;
  }
}
.footer__logo {
  width: 15rem;
  height: auto;
}
@media (max-width: 900px) {
  .footer__logo {
    width: 10rem;
  }
}
.footer__menu {
  border-top: 1px solid white;
  display: inline-block;
}
@media (max-width: 900px) {
  .footer__menu {
    width: 100%;
    text-align: center;
    padding-bottom: 3rem;
  }
}
.footer__list {
  list-style-type: none;
  padding-top: 2rem;
  text-align: center;
}
.footer__item {
  display: inline;
  text-transform: uppercase;
  font-size: 1.6rem;
}
.footer__item:not(:last-child) {
  margin-right: 1rem;
}
.footer__link:link, .footer__link:visited {
  color: white;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
}
.footer__link:hover, .footer__link:active {
  color: #165a16;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  transform: rotate(5deg) scale(1.1);
}
.footer__text {
  border-top: 1px solid white;
  padding-top: 2rem;
  font-size: 1.6rem;
  color: white;
}
@media (max-width: 900px) {
  .footer__text {
    margin-bottom: 2rem;
  }
}

.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.525);
  z-index: 2000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s linear;
  backdrop-filter: blur(20px);
}
.popup__content {
  width: 80%;
  background-color: aliceblue;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%) scale(0.2);
  overflow: hidden;
  border-radius: 3px;
  transition: all 0.3s 0.2s ease-out;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.popup__exit {
  position: absolute;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
  cursor: pointer;
  top: 1rem;
  right: 3rem;
}
.popup__exit a {
  text-decoration: none;
  color: black;
}
.popup a:hover {
  color: green;
}
.popup__img {
  width: 32%;
  display: block;
}
.popup__text {
  position: absolute;
  top: 35%;
  left: 35%;
  padding-right: 3rem;
  font-size: 1.6rem;
  column-count: 2;
  column-rule: 1px solid #777;
  column-gap: 4rem;
  hyphens: auto;
}
.popup h2 {
  position: absolute;
  top: 10%;
  left: 35%;
}
.popup h3 {
  position: absolute;
  top: 25%;
  left: 35%;
}

/*# sourceMappingURL=style.comp.css.map */
