
$primary-color: rgb(255, 255, 255);
$secondary-color: #53c23497;
$tretiary-color: #0617009e;
$black-color: #000;
$gray-color: #777;
$grey-color-light-1: #f7f7f7;
$orange-color: orange;
$orange-color-light: rgb(255, 247, 0);
$blue-color: rgba(0, 0, 255, 0.675);
$blue-color-dark: rgba(51, 0, 255, 0.608);



$size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 5rem;
