.navigation {
&__checkbox {display: none;}

&__button {
    height: 7rem;
    width: 7rem;
    background-color: whitesmoke;
    border-radius: 50%;
    position: fixed;
    top: 6.3rem;
    right: 6.2rem;
    z-index: 102;
    box-shadow: 0 1rem 2rem rgba(black, 0.4);
    cursor: pointer;
    text-align: center;
    @include respond(tablet) {top: 4rem; right: 4rem;}
}

&__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    z-index: 100;
    background-image: radial-gradient(green, rgb(10, 34, 10));
    transition: all .4s cubic-bezier(.2, .9, .11, -0.3);
    @include respond(tablet) {top: 4.2rem; right: 4.3rem;}
}

&__nav {
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 101;
    width: 0;
    opacity: 0;
    transition: all .2s cubic-bezier(.2, .9, .11, -0.3);
    text-align: center;

}

&__list {
    text-align: center;
    list-style: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    }

&__item {
 
}

&__link {
text-decoration: none;
color: white;
text-transform: uppercase;
font-size: 3rem;
letter-spacing: 2px;
padding: .3rem 1rem;
font-weight: 400;
background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
background-size: 220%;
margin: .5rem 1rem;
transition:all .5s ease;
display: inline-block;
span {margin-right: 1.5rem; display: inline-block;}}

&__link:hover {background-position: 100%; 
    color: green;
    transform: translateX(1rem);}


    //FUNCTIONALITY
&__checkbox:checked ~ &__background{transform: scale(60);}
&__checkbox:checked ~ &__nav {opacity: 1; width: 100vw;}
&__checkbox:checked ~ &__button &__icon {background-color: transparent;}
&__checkbox:checked ~ &__button &__icon::after {transform: rotate(135deg); top: 0;}
&__checkbox:checked ~ &__button &__icon::before {transform: rotate(-135deg); top: 0;}





    //ICON
&__icon {
    position: relative;
    margin-top: 3.5rem;
    
&,
&::before,
&::after {
width: 3rem;
height: 2px;
background-color: black;
display: inline-block;

}

&::before,
&::after {
content: "";
position: absolute;
left: 0;
transition: all .2s;}

&::before {top: -1rem;}
&::after{top: 1rem;}
}

&__button:hover &__icon::before {top: -1.2rem;}
&__button:hover &__icon::after {top: 1.2rem;}

}