*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-margin: -15rem;
}

html {
    font-size: 10px;

    @include respond(desktop) {font-size: 10px;};
    @include respond(lg) {font-size: 9px;};
    @include respond(tablet) {font-size: 7px;};
    @include respond(phone) {font-size: 5px;};
   
   
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $gray-color;
    padding: 3rem;
    @include respond(tablet) {padding: 0;};
}

::selection {background-color: greenyellow; color: aliceblue;}